@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
#header .mobile {
  display: none;
}
#header #navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  transition: all 0.3s ease;
}
#header #navbar #close {
  display: none;
}
#header #navbar li {
  font-size: 16px;
  font-weight: 600;
  padding: 0px 15px;
}
#header #navbar li a {
  text-decoration: none;
  color: #1a1a1a;
  transition: all 0.3s ease;
}
#header #navbar li a:hover {
  color: rgba(8, 129, 121, 0.6039215686);
}
#header #navbar li a.active {
  position: relative;
  color: rgba(8, 129, 121, 0.6039215686);
}
#header #navbar li a.active::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: rgba(8, 129, 121, 0.6039215686);
  border-radius: 3px;
  bottom: 0;
  left: 0;
  transform: translateY(7px);
}
#header #navbar li .fa-shopping-bag {
  padding-left: 13px;
  font-size: 20px;
  transform: translateY(-3px);
}

#hero {
  background-image: url(../img/hero4.png);
  width: 100%;
  height: 90vh;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: top 25% right 0;
  align-items: flex-start;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}
#hero button {
  padding: 14px 80px 14px 65px;
  background-image: url(../img/button.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  color: #088178;
  font-weight: 700;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 15px;
}
#hero button:active {
  color: rgba(8, 129, 121, 0.6039215686);
}

#feature {
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#feature .fe__box {
  width: 180px;
  border: 1px solid #cce7d0;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  text-align: center;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe__box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 21, 0.1);
}
#feature .fe__box img {
  margin-top: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
#feature .fe__box h6 {
  padding: 9px 8px 6px 8px;
  background-color: #fddde4;
  border-radius: 4px;
  color: #088178;
  line-height: 1;
  display: inline-block;
  margin-bottom: 20px;
}
#feature .fe__box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fe__box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe__box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe__box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe__box:nth-child(6) h6 {
  background-color: #f7e2cd;
}

#products1 {
  text-align: center;
  padding: 0px 80px;
}
#products1 .pro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}
#products1 .pro-container .pro {
  position: relative;
  width: 23%;
  min-width: 250px;
  border: 1px solid #cce7d0;
  padding: 10px 12px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  border-radius: 25px;
  margin: 15px 0;
  transition: all 0.2 ease;
}
#products1 .pro-container .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#products1 .pro-container .pro img {
  width: 100%;
  border-radius: 20px;
}
#products1 .pro-container .pro .des {
  text-align: start;
  padding: 10px 0;
}
#products1 .pro-container .pro .des span {
  font-size: 12px;
  color: #606063;
}
#products1 .pro-container .pro .des h5 {
  font-size: 14px;
  color: #1a1a1a;
  padding-top: 7px;
}
#products1 .pro-container .pro .des .stars {
  font-size: 14px;
  color: #1a1a1a;
  padding-top: 5px;
}
#products1 .pro-container .pro .des h4 {
  font-size: 18px;
  color: #1a1a1a;
  padding-top: 9px;
}
#products1 .pro-container .pro .cart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  font-weight: 500;
  line-height: 50px;
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 20px;
}

#banner {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  background-image: url("../img/banner/b2.jpg");
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: #fff;
  font-size: 16px;
}
#banner h2 {
  color: #fff;
  font-size: 35px;
  letter-spacing: 1.4px;
  padding: 10px 0;
}
#banner h2 span {
  color: red;
}
#banner button {
  padding: 15px 30px;
  outline: none;
  color: #000000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  transition: all 0.2s ease;
}
#banner button:hover {
  background-color: #8b968c;
}

.products2 {
  margin-top: 50px;
}

#sm-banner {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#sm-banner .banner-box {
  min-width: 48%;
  height: 50vh;
  background-image: url("../img/banner/b17.jpg");
  background-size: cover;
  background-position: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
}
#sm-banner .banner-box h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner .banner-box h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner .banner-box span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box button {
  padding: 15px 30px;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.664);
  color: white;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s ease;
}
#sm-banner .banner-box:hover button {
  background-color: rgba(10, 153, 143, 0.7333333333);
  border: none;
}
#sm-banner .banner-box:nth-child(2) {
  background-image: url("../img/banner/b10.jpg");
}

#banner3 {
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner3 .banner-box {
  height: 30vh;
  min-width: 30%;
  background-image: url("../img/banner/b7.jpg");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
#banner3 .banner-box h2 {
  font-size: 22px;
  font-weight: 900;
  color: white;
}
#banner3 .banner-box h3 {
  font-size: 15px;
  font-weight: 800;
  color: #ec544e;
}
#banner3 .banner-box:nth-child(2) {
  background-image: url("../img/banner/b4.jpg");
}
#banner3 .banner-box:nth-child(3) {
  background-image: url("../img/banner/b18.jpg");
}

#newLetters {
  margin-top: 40px;
  background-color: #041e42;
  background-position: 20% 30%;
  background-repeat: no-repeat;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px;
  margin-bottom: 40px;
}
#newLetters h4 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}
#newLetters p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newLetters p span {
  color: red;
}
#newLetters .form {
  display: flex;
  width: 40%;
}
#newLetters input {
  height: 3.124rem;
  font-size: 14px;
  width: 100%;
  padding: 0 1.23rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
#newLetters button {
  height: 3.124rem;
  font-size: 14px;
  padding: 0 1rem;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #088178;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  width: 140px;
}

#footer {
  display: flex;
  padding: 20px 80px 80px;
  justify-content: space-between;
  flex-wrap: wrap;
}
#footer .col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#footer .col h4 {
  padding: 20px 0px;
  font-size: 20px;
}
#footer .col p {
  font-size: 14px;
  margin: 10px 0;
}
#footer .col:nth-child(2) a {
  padding: 5px 0;
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#footer .col:nth-child(3) a {
  padding: 5px 0;
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#footer .col:nth-child(4) .row img {
  border: 2px solid gray;
  border-radius: 5%;
}
#footer .col:nth-child(4) a {
  padding: 5px 0;
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#footer .icon {
  padding-top: 10px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
#footer .icon a .fab {
  color: #000000;
}

#page-header {
  background-image: url("../img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
#page-header h2 {
  color: white;
}
#page-header p {
  color: white;
}

#blog-header {
  background-image: url("../img/banner/b19.jpg");
  width: 100%;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
#blog-header h2 {
  color: white;
}
#blog-header p {
  color: white;
}

#blog {
  padding: 80px 150px 0px 150px;
}
#blog .blog-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
#blog .blog-box .blog-img {
  width: 50%;
  height: 50vh;
  padding: 30px;
}
#blog .blog-box .blog-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 7px;
  -o-object-position: top 55%;
     object-position: top 55%;
}
#blog .blog-box .blog-details {
  width: 50%;
}
#blog .blog-box .blog-details h4 {
  font-size: 28px;
}
#blog .blog-box .blog-details p {
  width: 80%;
}
#blog .blog-box .blog-details a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  transition: all 0.2s ease;
}
#blog .blog-box .blog-details a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 150px;
  height: 2.5px;
  border-radius: 2px;
  background-color: black;
  transform: translate(110%, -50%);
}
#blog .blog-box .blog-details a:hover {
  color: #088178;
}
#blog .blog-box .blog-details a:hover::after {
  background-color: #088178;
}
#blog .blog-box h1 {
  display: inline-block;
  position: absolute;
  top: -15px;
  left: 30px;
  font-size: 80px;
  color: rgba(8, 129, 121, 0.4666666667);
  z-index: -2;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
#pagination a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #088178;
  margin: 0 10px;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  text-decoration: none;
}
#pagination a i {
  font-size: 25px;
  transform: translateY(5px);
}

#prodetails {
  padding: 40px 80px;
  display: flex;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
#prodetails .single-pro-image .small-groupt-img {
  display: flex;
  justify-content: space-between;
}
#prodetails .single-pro-image .small-groupt-img .small-img-col {
  flex-basis: 24%;
}
#prodetails .single-pro-desc {
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-desc h6 {
  font-size: 14px;
}
#prodetails .single-pro-desc h4 {
  font-size: 25px;
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-desc h2 {
  font-size: 35px;
  margin-bottom: 40px;
}
#prodetails .single-pro-desc select {
  display: block;
  font-weight: 600;
  padding: 5px 10px;
  margin-bottom: 20px;
  outline: none;
}
#prodetails .single-pro-desc input {
  width: 50px;
  height: 45px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
  margin-bottom: 30px;
}
#prodetails .single-pro-desc input:focus {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
}
#prodetails .single-pro-desc span {
  font-weight: bold;
  font-size: 25px;
  display: block;
  margin-top: 30px;
}
#prodetails .single-pro-desc button {
  padding: 13px 30px;
  outline: none;
  color: #000000;
  background-color: #968080;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid gray;
  font-weight: 700;
  transition: all 0.2s ease;
  font-size: 15px;
}
#prodetails .single-pro-desc button:hover {
  background-color: #8b968c;
}
#prodetails .single-pro-desc p {
  line-height: 1.4;
  letter-spacing: 1.4px;
  font-size: 18px;
  width: 80%;
}

#about-header {
  background-image: url("../img/about/banner.png");
  width: 100%;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
#about-header h2 {
  color: white;
}
#about-header p {
  color: white;
}

#about-head {
  padding: 30px 80px;
  display: flex;
}
#about-head img {
  width: 50%;
  margin: 30px 30px 30px 0;
  border-radius: 20px;
  overflow: hidden;
}
#about-head div {
  width: 50%;
  padding: 30px 0 30px 30px;
}

#about-app {
  padding: 30px 80px;
  text-align: center;
}
#about-app .video {
  width: 70%;
  height: 100%;
  margin: 20px auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#contact-header {
  background-image: url("../img/about/banner.png");
  width: 100%;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}
#contact-header h2 {
  color: white;
}
#contact-header p {
  color: white;
}

#contact-details {
  display: flex;
  padding: 30px 80px;
  align-items: center;
}
#contact-details .detais {
  width: 50%;
}
#contact-details .detais span {
  display: block;
  padding-bottom: 20px;
}
#contact-details .detais h2 {
  font-size: 35px;
  padding-bottom: 20px;
}
#contact-details .detais h3 {
  color: #465b52;
  padding-bottom: 20px;
}
#contact-details .detais div li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#contact-details .detais div li i {
  padding: 5px 10px;
  font-size: 20px;
  transform: translateY(-5px);
}
#contact-details .map {
  width: 50%;
  height: 60vh;
}
#contact-details .map iframe {
  margin-left: 20px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.151);
}

#form-details {
  margin: 20px 30px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  padding: 80px 50px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#form-details form {
  display: flex;
  flex-direction: column;
  width: 60%;
}
#form-details form span {
  margin-bottom: 20px;
}
#form-details form input {
  width: 100%;
  padding: 10px;
  outline: none;
  font-weight: 600;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.11);
}
#form-details form input:focus {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.212);
}
#form-details form textarea {
  resize: none;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  padding: 10px;
  outline: none;
  font-weight: 600;
}
#form-details form textarea:focus {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.212);
}
#form-details form button {
  margin-top: 20px;
  width: 80px;
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
#form-details form button:hover {
  background-color: #f1eeee;
}
#form-details .people {
  width: 35%;
  padding: 30px;
  margin-left: 20px;
}
#form-details .people div {
  display: flex;
  margin: 80px 10px;
}
#form-details .people div img {
  margin-right: 20px;
}
#form-details .people div p {
  line-height: 1.3;
}

#cart {
  padding: 30px 80px;
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  text-align: center;
}
#cart table thead {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
#cart table thead td {
  padding: 20px 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
}
#cart table td {
  border-bottom: 1px solid rgba(128, 128, 128, 0.466);
}
#cart table td:nth-child(1) {
  width: 100px;
}
#cart table td:nth-child(2) {
  width: 150px;
}
#cart table td:nth-child(3) {
  width: 250px;
}
#cart table td:nth-child(4) {
  width: 150px;
}
#cart table td:nth-child(5) {
  width: 150px;
}
#cart table td:nth-child(6) {
  width: 150px;
}
#cart table img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  padding: 5px;
}
#cart table input {
  padding: 5px;
  width: 50px;
  font-size: 15px;
}

#cart-add {
  display: flex;
  justify-content: space-between;
  padding: 30px 80px;
  flex-wrap: wrap;
  margin-top: 50px;
}
#cart-add .add-coupon {
  width: 50%;
  margin-bottom: 30px;
}
#cart-add .add-coupon h3 {
  padding-bottom: 15px;
}
#cart-add .add-coupon input {
  padding: 10px 15px;
  outline: none;
  width: 60%;
  margin-right: 15px;
  border: 1px solid gray;
  font-weight: 500;
}
#cart-add .add-coupon button {
  padding: 10px 15px;
  outline: none;
  border: 1px solid gray;
  font-weight: 500;
  background-color: #088178;
  color: white;
  border-radius: 4px;
}
#cart-add .totals-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.199);
  padding: 30px;
  width: 50%;
}
#cart-add .totals-box h3 {
  padding-bottom: 15px;
}
#cart-add .totals-box table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#cart-add .totals-box table td {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 15px;
  font-size: 15px;
}
#cart-add .totals-box button {
  padding: 10px 15px;
  outline: none;
  border: 1px solid gray;
  font-weight: 500;
  background-color: #088178;
  color: white;
  border-radius: 4px;
  margin-top: 30px;
}

@media screen and (max-width: 899px) {
  #header #navbar {
    display: flex;
    position: fixed;
    right: -30%;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    width: 30%;
    height: 100vh;
    background-color: #e3e6f3;
    padding: 80px 0 0 10px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.103);
  }
  #header #navbar li {
    margin-bottom: 20px;
  }
  #header #navbar li .bag {
    display: none;
  }
  #header #navbar.remove {
    right: -30%;
  }
  #header #navbar.active {
    right: 0;
  }
  #header #navbar #close {
    display: flex;
    position: absolute;
    top: 30px;
    left: 20px;
    text-decoration: none;
    font-size: 22px;
  }
  #header .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .mobile i {
    padding-left: 20px;
    font-size: 22px;
  }
  #header .mobile .bag {
    color: black;
    font-size: 22px;
  }
  #hero {
    background-position: top 30% right 30%;
    height: 70vh;
    padding: 0px 80px;
  }
  #newLetters {
    justify-content: center;
  }
  #newLetters .form {
    width: 70%;
  }
  #feature {
    justify-content: center;
  }
  #feature .fe__box {
    margin: 10px;
  }
  #products1 .pro-container {
    justify-content: center;
  }
  #products1 .pro-container .pro {
    width: 45%;
    margin: 15px;
  }
  #banner h2 {
    font-size: 28px;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 40vh;
    margin-bottom: 20px;
  }
  #banner3 {
    padding: 0px 20px;
  }
  #banner3 .banner-box {
    min-width: 28%;
    height: 25vh;
    margin: 0 10px;
  }
  #footer .col {
    margin-bottom: 20px;
  }
  #prodetails {
    flex-direction: column;
  }
  #prodetails .single-pro-image {
    width: 100%;
  }
  #prodetails .single-pro-desc {
    width: 100%;
  }
  #prodetails .single-pro-desc p {
    width: 100%;
  }
  #page-header {
    height: 30vh;
  }
  #blog-header {
    height: 30vh;
  }
  #blog {
    padding: 50px 30px;
  }
  #blog .blog-box .blog-img {
    height: 40vh;
    padding: 10px;
  }
  #blog .blog-box h1 {
    display: inline-block;
    position: absolute;
    top: -7%;
    left: 10px;
    font-size: 60px;
    color: rgba(8, 129, 121, 0.4666666667);
    z-index: -2;
  }
  #blog .blog-box .blog-details p {
    width: 80%;
    line-height: 1.3;
  }
  #blog .blog-box .blog-details {
    padding-left: 20px;
  }
  #about-head {
    flex-direction: column;
    padding: 30px 80px;
  }
  #about-head img {
    width: 100%;
    border-radius: 1px;
    margin: 0;
  }
  #about-head div {
    width: 100%;
    padding: 30px 10px 10px 10px;
  }
  #about-head div h2 {
    font-size: 38px;
  }
  #about-app .video {
    width: 100%;
  }
  #contact-details {
    flex-direction: column;
  }
  #contact-details .detais {
    width: 100%;
  }
  #contact-details .map {
    width: 100%;
    margin-top: 20px;
  }
  #contact-details .map iframe {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  #form-details {
    flex-direction: column;
  }
  #form-details form {
    width: 100%;
  }
  #form-details .people {
    width: 100%;
    padding-top: 10px;
  }
  #contact-details .map {
    width: 100%;
    height: 40vh;
    margin-top: 20px;
  }
  #cart {
    padding: 20px 30px;
    overflow-x: auto;
  }
  #cart-add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  #cart-add .add-coupon {
    width: 100%;
  }
  #cart-add .add-coupon div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #cart-add .add-coupon div input {
    width: 80%;
  }
  #cart-add .add-coupon div button {
    width: 20%;
  }
  #cart-add .totals-box {
    width: 100%;
  }
}
@media screen and (max-width: 499px) {
  #header {
    padding: 20px 30px;
  }
  #header #navbar {
    display: flex;
    position: fixed;
    right: -40%;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
    width: 40%;
    height: 100vh;
    background-color: #e3e6f3;
    padding: 80px 0 0 10px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.103);
  }
  #header #navbar li {
    margin-bottom: 20px;
  }
  #header #navbar li .bag {
    display: none;
  }
  #header #navbar.remove {
    right: -40%;
  }
  #header #navbar.active {
    right: 0;
  }
  #header #navbar #close {
    display: flex;
    position: absolute;
    top: 30px;
    left: 20px;
    text-decoration: none;
    font-size: 22px;
  }
  #header .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .mobile i {
    padding-left: 20px;
    font-size: 22px;
  }
  #header .mobile .bag {
    color: black;
    font-size: 22px;
  }
  #hero {
    background-position: top 30% right 45%;
    height: 70vh;
    padding: 0px 20px;
  }
  #newLetters {
    justify-content: flex-start;
    padding: 0 10px;
  }
  #newLetters .form {
    transform: translateY(-15px);
    width: 100%;
  }
  #feature {
    justify-content: center;
    padding: 20px 30px;
  }
  #feature .fe__box {
    width: 40%;
    margin: 10px;
  }
  #products1 {
    padding: 20px 30px;
  }
  #products1 .pro-container {
    justify-content: center;
  }
  #products1 .pro-container .pro {
    width: 100%;
    margin: 15px;
  }
  #banner {
    align-items: flex-start;
    padding: 0px 20px;
  }
  #banner h2 {
    font-size: 20px;
  }
  #sm-banner {
    padding: 10px;
  }
  #sm-banner.banner-box {
    min-width: 100%;
    height: 40vh;
    margin-bottom: 20px;
  }
  #banner3 {
    padding: 0px;
    justify-content: space-between;
  }
  #banner3 .banner-box {
    min-width: 28%;
    height: 25vh;
    padding: 0 5px;
  }
  #banner3 .banner-box h2 {
    font-size: 15px;
  }
  #banner3 .banner-box h3 {
    font-size: 10px;
  }
  #footer {
    padding: 20px 30px;
  }
  #footer .col {
    margin-bottom: 20px;
  }
  #prodetails {
    flex-direction: column;
    padding: 10px;
  }
  #prodetails .single-pro-image {
    width: 100%;
  }
  #prodetails .single-pro-desc {
    width: 100%;
  }
  #prodetails .single-pro-desc p {
    width: 100%;
    font-size: 14px;
  }
  #page-header {
    height: 20vh;
  }
  #page-header h2 {
    font-size: 22px;
  }
  #blog {
    padding: 20px;
  }
  #blog .blog-box {
    flex-direction: column;
  }
  #blog .blog-box .blog-img {
    width: 100%;
    height: 40vh;
  }
  #blog .blog-box h1 {
    top: -4.5%;
    left: 10px;
    font-size: 50px;
  }
  #blog .blog-box .blog-details {
    width: 100%;
    padding: 10px;
  }
  #blog .blog-box .blog-details h4 {
    font-size: 23px;
  }
  #blog .blog-box .blog-details p {
    width: 100%;
  }
  #blog .blog-box .blog-details a {
    font-size: 11px;
  }
  #blog .blog-box .blog-details a::after {
    width: 100px;
  }
  #about-header h2 {
    font-size: 30px;
  }
  #about-header p {
    font-size: 12px;
  }
  #about-head {
    flex-direction: column;
    padding: 10px;
  }
  #about-head img {
    width: 100%;
    border-radius: 1px;
    margin: 0;
  }
  #about-head div {
    width: 100%;
    padding: 30px 10px 10px 10px;
  }
  #about-head div h2 {
    font-size: 30px;
  }
  #about-app {
    width: 100%;
    padding: 10px;
  }
  #about-app h1 {
    font-size: 30px;
  }
  #about-app .video {
    width: 100%;
  }
  #contact-header h2 {
    color: white;
    font-size: 35px;
  }
  #contact-header p {
    font-size: 12px;
  }
  #contact-details {
    padding: 0 20px;
  }
  #contact-details .detais h2 {
    font-size: 30px;
  }
  #contact-details .detais li p {
    font-size: 12px;
  }
  #form-details {
    margin: 10px;
    padding: 20px;
  }
  #form-details form h2 {
    font-size: 30px;
  }
  #form-details .people {
    width: 100%;
  }
  #form-details .people div {
    padding: 0;
    margin: 10px 0;
    font-size: 14px;
  }
  #form-details .people div p {
    font-size: 12px;
    list-style: 1.2;
  }
  #form-details .people {
    margin-top: 10px;
    padding: 0;
  }
  #cart-add .totals-box {
    margin-top: 20px;
    padding: 20px 10px;
  }
}/*# sourceMappingURL=style.css.map */